# Julia
*.jl.cov
*.jl.mem
*.jl.gc
*.jl.grind
*.jl.prof
*.jl.*
*.ji
*.so
*.dylib
*.dll
*.exe
*.o
*.a
*.dSYM
*.ipynb_checkpoints

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info
dist/
build/
*.egg-info/
.eggs/
*.manifest
*.spec
*.log
*.coverage
.coverage.*
.cache
.pytest_cache/
.tox/
.nox/
*.hypothesis/
*.pytest_cache/
*.mypy_cache/
.pyre/
.pytype/
*.ipynb_checkpoints

# macOS
.DS_Store
.AppleDouble
.LSOverride

# VSCode
.vscode/
.history/
*.code-workspace
*.sublime-project
*.sublime-workspace